<div class="content" role="main">
    <h2>Resources</h2>
    <p>Here are some links to help you get started:</p>
  
    <div class="card-container" style="margin-top: 10vh;">
      <mat-card class="card" style="margin-left: 20px;text-align: center; width: 200px; height: 125px;" [routerLink]="['/catalogs']" routerLinkActive="active"
        matTooltip="To view and manage catalogs">
  
        <mat-card-content style="margin-top: auto; margin-bottom: auto;">
          <mat-icon style="color: #8BC34A">local_mall</mat-icon><h2>Catalogs</h2>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="card" style="margin-left: 20px;text-align: center; width: 200px; height: 125px;" [routerLink]="['/categories']" routerLinkActive="active"
        matTooltip="To view and manage categories">
        <mat-card-content style="margin-top: auto; margin-bottom: auto;">
          <mat-icon style="color: #8BC34A">list_alt</mat-icon><h2>Categories</h2>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="card" style="margin-left: 20px;text-align: center; width: 200px; height: 125px;" [routerLink]="['/offers']" routerLinkActive="active"
        matTooltip="To view and manage offers">
        <mat-card-content style="margin-top: auto; margin-bottom: auto;">
          <mat-icon style="color: #8BC34A">local_offer</mat-icon><h2>offers</h2>
        </mat-card-content>
      </mat-card>
    </div>
  
    <button mat-raised-button class="bottom" (click)="openCouponSheet()" style="width: 150px; height: 50px;"
      matTooltip="To view and manage coupons">
      <mat-icon style="color: #8BC34A">card_giftcard</mat-icon>
      Coupons
    </button>
</div>
